<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    <title>Server</title>
</head>
<body>
    <h1>Connected to Adam.Server1.0</h1>
    <p>Welcome: <%= name%></p>
    <p>User No. <%= id%></p>
</body>
</html>